@{
    ViewBag.Title = "Home";
}

<div class="container text-center">
    <h1 class="display-4">Welcome to CareerHive</h1>
    <p class="lead">Your gateway to success in the professional world.</p>

    <div class="mt-4">
        <a href="@Url.Action("Register", "Account")" class="btn btn-lg btn-primary mx-2">Register</a>
        <a href="@Url.Action("Login", "Account")" class="btn btn-lg btn-secondary mx-2">Login</a>
    </div>
</div>
